<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rating-heading" jhiTranslate="nitroCarriersApp.rating.home.createOrEditLabel">Create or edit a Rating</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rating.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rating.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.chargePostalCode" for="field_chargePostalCode">Charge Postal Code</label>
                    <input type="text" class="form-control" name="chargePostalCode" id="field_chargePostalCode"
                        [(ngModel)]="rating.chargePostalCode" required/>
                    <div [hidden]="!(editForm.controls.chargePostalCode?.dirty && editForm.controls.chargePostalCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.chargePostalCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.dischargePostalCode" for="field_dischargePostalCode">Discharge Postal Code</label>
                    <input type="text" class="form-control" name="dischargePostalCode" id="field_dischargePostalCode"
                        [(ngModel)]="rating.dischargePostalCode" required/>
                    <div [hidden]="!(editForm.controls.dischargePostalCode?.dirty && editForm.controls.dischargePostalCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dischargePostalCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                        [(ngModel)]="rating.totalPrice" required/>
                    <div [hidden]="!(editForm.controls.totalPrice?.dirty && editForm.controls.totalPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.totalPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.totalPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.pricePerKm" for="field_pricePerKm">Price Per Km</label>
                    <input type="number" class="form-control" name="pricePerKm" id="field_pricePerKm"
                        [(ngModel)]="rating.pricePerKm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.cargoType" for="field_cargoType">Cargo Type</label>
                    <select class="form-control" name="cargoType" [(ngModel)]="rating.cargoType" id="field_cargoType"  required>
                        <option value="FTL_13_6">{{'nitroCarriersApp.CargoType.FTL_13_6' | translate}}</option>
                        <option value="EXTRA_13_6">{{'nitroCarriersApp.CargoType.EXTRA_13_6' | translate}}</option>
                        <option value="REEFER">{{'nitroCarriersApp.CargoType.REEFER' | translate}}</option>
                        <option value="EXTRA_REEFER">{{'nitroCarriersApp.CargoType.EXTRA_REEFER' | translate}}</option>
                        <option value="SOLO">{{'nitroCarriersApp.CargoType.SOLO' | translate}}</option>
                        <option value="FULL_BUS_BLASZKA">{{'nitroCarriersApp.CargoType.FULL_BUS_BLASZKA' | translate}}</option>
                        <option value="FULL_BUS_PLANDEKA">{{'nitroCarriersApp.CargoType.FULL_BUS_PLANDEKA' | translate}}</option>
                        <option value="EXTRA_BUS">{{'nitroCarriersApp.CargoType.EXTRA_BUS' | translate}}</option>
                        <option value="OVERSIZED">{{'nitroCarriersApp.CargoType.OVERSIZED' | translate}}</option>
                        <option value="OTHER">{{'nitroCarriersApp.CargoType.OTHER' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.cargoType?.dirty && editForm.controls.cargoType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cargoType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.distance" for="field_distance">Distance</label>
                    <input type="number" class="form-control" name="distance" id="field_distance"
                        [(ngModel)]="rating.distance" required/>
                    <div [hidden]="!(editForm.controls.distance?.dirty && editForm.controls.distance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.distance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.distance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.contact" for="field_contact">Contact</label>
                    <input type="number" class="form-control" name="contact" id="field_contact"
                        [(ngModel)]="rating.contact" required min="1" jhiMin="1" max="6" jhiMax="6"/>
                    <div [hidden]="!(editForm.controls.contact?.dirty && editForm.controls.contact?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.contact?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.contact?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.contact?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 6 }">
                            This field cannot be more than 6.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.contact?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="rating.price" required min="1" jhiMin="1" max="6" jhiMax="6"/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 6 }">
                            This field cannot be more than 6.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.flexibility" for="field_flexibility">Flexibility</label>
                    <input type="number" class="form-control" name="flexibility" id="field_flexibility"
                        [(ngModel)]="rating.flexibility" required min="1" jhiMin="1" max="6" jhiMax="6"/>
                    <div [hidden]="!(editForm.controls.flexibility?.dirty && editForm.controls.flexibility?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.flexibility?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.flexibility?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.flexibility?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 6 }">
                            This field cannot be more than 6.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.flexibility?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.recommendation" for="field_recommendation">Recommendation</label>
                    <select class="form-control" name="recommendation" [(ngModel)]="rating.recommendation" id="field_recommendation"  required>
                        <option value="DEF_YES">{{'nitroCarriersApp.Grade.DEF_YES' | translate}}</option>
                        <option value="YES">{{'nitroCarriersApp.Grade.YES' | translate}}</option>
                        <option value="FINE">{{'nitroCarriersApp.Grade.FINE' | translate}}</option>
                        <option value="NO">{{'nitroCarriersApp.Grade.NO' | translate}}</option>
                        <option value="DEF_NO">{{'nitroCarriersApp.Grade.DEF_NO' | translate}}</option>
                        <option value="BLACK_LIST">{{'nitroCarriersApp.Grade.BLACK_LIST' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.recommendation?.dirty && editForm.controls.recommendation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.recommendation?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.average" for="field_average">Average</label>
                    <input type="number" class="form-control" name="average" id="field_average"
                        [(ngModel)]="rating.average" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="rating.remarks" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.whiteList" for="field_whiteList">White List</label>
                    <input type="checkbox" class="form-control" name="whiteList" id="field_whiteList"
                        [(ngModel)]="rating.whiteList" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.carrier" for="field_carrier">Carrier</label>
                    <select class="form-control" id="field_carrier" name="carrier" [(ngModel)]="rating.carrier"  required>
                        <option *ngIf="!editForm.value.carrier" [ngValue]="null" selected></option>
                        <option [ngValue]="carrierOption.id === rating.carrier?.id ? rating.carrier : carrierOption" *ngFor="let carrierOption of carriers; trackBy: trackCarrierById">{{carrierOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.carrier?.dirty && editForm.controls.carrier?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.carrier?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="rating.person"  required>
                        <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                        <option [ngValue]="personOption.id === rating.person?.id ? rating.person : personOption" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.firstName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.person?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.altCarrier" for="field_altCarrier">Alt Carrier</label>
                    <select class="form-control" id="field_altCarrier" name="altCarrier" [(ngModel)]="rating.altCarrier" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carrierOption.id === rating.altCarrier?.id ? rating.altCarrier : carrierOption" *ngFor="let carrierOption of carriers; trackBy: trackCarrierById">{{carrierOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.altPerson" for="field_altPerson">Alt Person</label>
                    <select class="form-control" id="field_altPerson" name="altPerson" [(ngModel)]="rating.altPerson" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id === rating.altPerson?.id ? rating.altPerson : personOption" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.chargeCountry" for="field_chargeCountry">Charge Country</label>
                    <select class="form-control" id="field_chargeCountry" name="chargeCountry" [(ngModel)]="rating.chargeCountry"  required>
                        <option *ngIf="!editForm.value.chargeCountry" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption.id === rating.chargeCountry?.id ? rating.chargeCountry : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryNamePL}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.chargeCountry?.dirty && editForm.controls.chargeCountry?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.chargeCountry?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.chargeCity" for="field_chargeCity">Charge City</label>
                    <select class="form-control" id="field_chargeCity" name="chargeCity" [(ngModel)]="rating.chargeCity"  required>
                        <option *ngIf="!editForm.value.chargeCity" [ngValue]="null" selected></option>
                        <option [ngValue]="cityOption.id === rating.chargeCity?.id ? rating.chargeCity : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.cityName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.chargeCity?.dirty && editForm.controls.chargeCity?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.chargeCity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.dischargeCountry" for="field_dischargeCountry">Discharge Country</label>
                    <select class="form-control" id="field_dischargeCountry" name="dischargeCountry" [(ngModel)]="rating.dischargeCountry"  required>
                        <option *ngIf="!editForm.value.dischargeCountry" [ngValue]="null" selected></option>
                        <option [ngValue]="countryOption.id === rating.dischargeCountry?.id ? rating.dischargeCountry : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryNamePL}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.dischargeCountry?.dirty && editForm.controls.dischargeCountry?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dischargeCountry?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.dischargeCity" for="field_dischargeCity">Discharge City</label>
                    <select class="form-control" id="field_dischargeCity" name="dischargeCity" [(ngModel)]="rating.dischargeCity"  required>
                        <option *ngIf="!editForm.value.dischargeCity" [ngValue]="null" selected></option>
                        <option [ngValue]="cityOption.id === rating.dischargeCity?.id ? rating.dischargeCity : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.cityName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.dischargeCity?.dirty && editForm.controls.dischargeCity?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dischargeCity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.createdBy" for="field_createdBy">Created By</label>
                    <select class="form-control" id="field_createdBy" name="createdBy" [(ngModel)]="rating.createdBy" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === rating.createdBy?.id ? rating.createdBy : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
