<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rating">
            <h2><span jhiTranslate="nitroCarriersApp.rating.detail.title">Rating</span> {{rating.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nitroCarriersApp.rating.chargePostalCode">Charge Postal Code</span></dt>
                <dd>
                    <span>{{rating.chargePostalCode}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.dischargePostalCode">Discharge Postal Code</span></dt>
                <dd>
                    <span>{{rating.dischargePostalCode}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.cargoType">Cargo Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'nitroCarriersApp.CargoType.' + rating.cargoType}}">{{rating.cargoType}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.distance">Distance</span></dt>
                <dd>
                    <span>{{rating.distance}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.contact">Contact</span></dt>
                <dd>
                    <span>{{rating.contact}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.price">Price</span></dt>
                <dd>
                    <span>{{rating.price}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.flexibility">Flexibility</span></dt>
                <dd>
                    <span>{{rating.flexibility}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.recommendation">Recommendation</span></dt>
                <dd>
                    <span jhiTranslate="{{'nitroCarriersApp.Grade.' + rating.recommendation}}">{{rating.recommendation}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.average">Average</span></dt>
                <dd>
                    <span>{{rating.average}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.remarks">Remarks</span></dt>
                <dd>
                    <span>{{rating.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.carrier">Carrier</span></dt>
                <dd>
                    <div *ngIf="rating.carrier">
                        <a [routerLink]="['/carrier', rating.carrier?.id, 'view']">{{rating.carrier?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.person">Person</span></dt>
                <dd>
                    <div *ngIf="rating.person">
                        <a [routerLink]="['/person', rating.person?.id, 'view']">{{rating.person?.firstName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.chargeCountry">Charge Country</span></dt>
                <dd>
                    <div *ngIf="rating.chargeCountry">
                        <a [routerLink]="['/country', rating.chargeCountry?.id, 'view']">{{rating.chargeCountry?.countryNamePL}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.chargeCity">Charge City</span></dt>
                <dd>
                    <div *ngIf="rating.chargeCity">
                        <a [routerLink]="['/city', rating.chargeCity?.id, 'view']">{{rating.chargeCity?.cityName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.dischargeCountry">Discharge Country</span></dt>
                <dd>
                    <div *ngIf="rating.dischargeCountry">
                        <a [routerLink]="['/country', rating.dischargeCountry?.id, 'view']">{{rating.dischargeCountry?.countryNamePL}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.dischargeCity">Discharge City</span></dt>
                <dd>
                    <div *ngIf="rating.dischargeCity">
                        <a [routerLink]="['/city', rating.dischargeCity?.id, 'view']">{{rating.dischargeCity?.cityName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.rating.createdBy">Created By</span></dt>
                <dd>
                    {{rating.createdBy?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating', rating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
