<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-country-heading" jhiTranslate="nitroCarriersApp.country.home.createOrEditLabel">Create or edit a Country</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!country.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="country.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.country.countryCode" for="field_countryCode">Country Code</label>
                    <input type="text" class="form-control" name="countryCode" id="field_countryCode"
                        [(ngModel)]="country.countryCode" required/>
                    <div [hidden]="!(editForm.controls.countryCode?.dirty && editForm.controls.countryCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.countryCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.country.countryNamePL" for="field_countryNamePL">Country Name PL</label>
                    <input type="text" class="form-control" name="countryNamePL" id="field_countryNamePL"
                        [(ngModel)]="country.countryNamePL" required/>
                    <div [hidden]="!(editForm.controls.countryNamePL?.dirty && editForm.controls.countryNamePL?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.countryNamePL?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.country.countryNameEN" for="field_countryNameEN">Country Name EN</label>
                    <input type="text" class="form-control" name="countryNameEN" id="field_countryNameEN"
                        [(ngModel)]="country.countryNameEN" required/>
                    <div [hidden]="!(editForm.controls.countryNameEN?.dirty && editForm.controls.countryNameEN?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.countryNameEN?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
