<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-customer-heading" jhiTranslate="nitroCarriersApp.customer.home.createOrEditLabel">Create or edit a Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="customer.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.nip" for="field_nip">NIP</label>
                    <input type="text" class="form-control" name="nip" id="field_nip"
                        [(ngModel)]="customer.nip" required/>
                    <div [hidden]="!(editForm.controls.nip?.dirty && editForm.controls.nip?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nip?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.address" for="field_address">Address</label>
                        <input type="text" class="form-control" name="address" id="field_address"
                               [(ngModel)]="customer.address" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.postalCode" for="field_postalCode">Postal Code</label>
                        <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                               [(ngModel)]="customer.postalCode" />
                    </div>
                    <label class="form-control-label"
                           jhiTranslate="nitroCarriersApp.customer.country"
                           for="field_country">Country
                    </label>
                    <ng-select [items]="countries"
                               id="field_country"
                               name="country"
                               bindLabel="countryNamePL"
                               (change)="onCountrySelect($event)"
                               placeholder="{{'nitroCarriersApp.customer.countryPlaceholder' | translate}}"n
                               [(ngModel)]="customer.country"
                               selectOnTab="true"
                               required="false">
                    </ng-select>

                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.city" for="field_city">City</label>
                    <ng-select [items]="cities"
                               id="field_city"
                               name="city"
                               bindLabel="cityName"
                               placeholder="{{'nitroCarriersApp.customer.cityPlaceholder' | translate}}"
                               [(ngModel)]="customer.city"
                               selectOnTab="true"
                               [addTag]="addCity"
                               required="false">
                    </ng-select>


                </div>


                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.notes" for="field_notes">Notes</label>
                    <textarea rows="8" class="form-control" name="notes" id="field_notes"
                              [(ngModel)]="customer.notes" maxlength="1000"></textarea>
                </div>



                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.state" for="field_state">State</label>
                    <select class="form-control" name="state" [(ngModel)]="customer.state" id="field_state">
                        <option value="TAKEN">{{'nitroCarriersApp.CustomerState.TAKEN' | translate}}</option>
                        <option value="TEMPORARILY_TAKEN">{{'nitroCarriersApp.CustomerState.TEMPORARILY_TAKEN' | translate}}</option>
                    </select>
                </div>

                <div class="form-group" [hidden]="!customer.user">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.customer.user" for="field_user">Assigned user</label>
                    <input type="text" class="form-control" id="field_user" name="createdBy" value="{{customer.user?.login}}" readonly/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
