<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="nitroCarriersApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nitroCarriersApp.customer.name">Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.nip">Nip</span></dt>
                <dd>
                    <span>{{customer.nip}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.address">Address</span></dt>
                <dd>
                    <span>{{customer.address}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{customer.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.state">State</span></dt>
                <dd>
                    <span jhiTranslate="{{'nitroCarriersApp.CustomerState.' + customer.state}}">{{customer.state}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.notes">Notes</span></dt>
                <dd>
                    <span>{{customer.notes}}</span>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.city">City</span></dt>
                <dd>
                    <div *ngIf="customer.city">
                        <a [routerLink]="['/city', customer.city?.id, 'view']">{{customer.city?.cityName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.country">Country</span></dt>
                <dd>
                    <div *ngIf="customer.country">
                        <a [routerLink]="['/country', customer.country?.id, 'view']">{{customer.country?.countryNamePL}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nitroCarriersApp.customer.user">User</span></dt>
                <dd>
                    {{customer.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
