<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rating-heading" jhiTranslate="nitroCarriersApp.nitroRating.home.createOrEditLabel">Create or
                edit a Rating</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rating.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="rating.id" readonly/>
                </div>

                <fieldset>
                    <legend jhiTranslate="nitroCarriersApp.nitroRating.carrierAndPerson">Carrier and person</legend>
                    <div class="form-group">
                        <textarea [(ngModel)]="carrierAndPerson" class="form-control" name="carrierAndPerson"
                                  id="field_carrierAndPerson" required rows="5"></textarea>
                        <div
                            [hidden]="!(editForm.controls.carrierAndPerson?.dirty && editForm.controls.carrierAndPerson?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.carrierAndPerson?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h4 jhiTranslate="nitroCarriersApp.nitroRating.chargeAddress">Charge address</h4>
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.nitroRating.chargeCountry"
                               for="field_chargeCountry">
                            Charge Address Country
                        </label>
                        <select class="form-control" id="field_chargeCountry" name="chargeCountry"
                                [(ngModel)]="rating.chargeCountry" required>
                            <option *ngIf="!editForm.value.chargeCountry" [ngValue]="null" selected></option>
                            <option
                                [ngValue]="countryOption.id === rating.chargeCountry?.id ? rating.chargeCountry : countryOption"
                                *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryName}}</option>
                        </select>
                        <div
                            [hidden]="!(editForm.controls.chargeCountry?.dirty && editForm.controls.chargeCountry?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.chargeCountry?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.nitroRating.chargePostalCode"
                               for="field_chargePostalCode">Charge Address Postal Code</label>
                        <input type="text" class="form-control" name="chargePostalCode"
                               id="field_chargePostalCode" [(ngModel)]="rating.chargePostalCode"
                               required/>
                        <div
                            [hidden]="!(editForm.controls.chargePostalCode?.dirty && editForm.controls.chargePostalCode?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.chargePostalCode?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h4 jhiTranslate="nitroCarriersApp.nitroRating.dischargeAddress">Discharge address</h4>
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.nitroRating.dischargeCountry"
                               for="field_dischargeCountry">Discharge Address</label>
                        <select class="form-control" id="field_dischargeCountry" name="dischargeCountry"
                                [(ngModel)]="rating.dischargeCountry" required>
                            <option *ngIf="!editForm.value.dischargeCountry" [ngValue]="null" selected></option>
                            <option [ngValue]="countryOption.id === rating.dischargeCountry?.id ? rating.dischargeCountry : countryOption"
                                    *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryName}}</option>
                        </select>
                        <div
                            [hidden]="!(editForm.controls.dischargeCountry?.dirty && editForm.controls.dischargeCountry?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.dischargeCountry?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.nitroRating.dischargePostalCode"
                               for="field_dischargePostalCode">Discharge Address Postal Code</label>
                        <input type="text" class="form-control" name="dischargePostalCode"
                               id="field_dischargePostalCode" [(ngModel)]="rating.dischargePostalCode"
                               required/>
                        <div
                            [hidden]="!(editForm.controls.dischargePostalCode?.dirty && editForm.controls.dischargePostalCode?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.dischargePostalCode?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.nitroRating.cargoType"
                           for="field_cargoType">Cargo Type</label>
                    <select class="form-control" id="field_cargoType" name="cargoType" [(ngModel)]="rating.cargoTypeId"
                            required>
                        <option *ngIf="!editForm.value.cargoType" [ngValue]="null" selected></option>
                        <option [ngValue]="cargoTypeOption.id"
                                *ngFor="let cargoTypeOption of cargotypes; trackBy: trackCargoTypeById">{{cargoTypeOption.name}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.cargoType?.dirty && editForm.controls.cargoType?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.cargoType?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.distance"
                           for="field_distance">Distance</label>
                    <input type="number" class="form-control" name="distance" id="field_distance"
                           [(ngModel)]="rating.distance" required/>
                    <div [hidden]="!(editForm.controls.distance?.dirty && editForm.controls.distance?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.distance?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.distance?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.nitroRating.contact"
                           for="field_contact">Contact</label>
                    <input type="number" class="form-control" name="contact" id="field_contact"
                           [(ngModel)]="rating.contact" required min="1" jhiMin="1" max="6" jhiMax="6"/>
                    <div [hidden]="!(editForm.controls.contact?.dirty && editForm.controls.contact?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contact?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contact?.errors?.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contact?.errors?.max" jhiTranslate="entity.validation.max"
                               [translateValues]="{ max: 6 }">
                            This field cannot be more than 6.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contact?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.nitroRating.price"
                           for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           [(ngModel)]="rating.price" required min="1" jhiMin="1" max="6" jhiMax="6"/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.price?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.price?.errors?.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.price?.errors?.max" jhiTranslate="entity.validation.max"
                               [translateValues]="{ max: 6 }">
                            This field cannot be more than 6.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.price?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.nitroRating.flexibility"
                           for="field_flexibility">Flexibility</label>
                    <input type="number" class="form-control" name="flexibility" id="field_flexibility"
                           [(ngModel)]="rating.flexibility" required min="1" jhiMin="1" max="6" jhiMax="6"/>
                    <div [hidden]="!(editForm.controls.flexibility?.dirty && editForm.controls.flexibility?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flexibility?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flexibility?.errors?.min"
                               jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flexibility?.errors?.max"
                               jhiTranslate="entity.validation.max" [translateValues]="{ max: 6 }">
                            This field cannot be more than 6.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flexibility?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.nitroRating.recommendation"
                           for="field_recommendation">Recommendation</label>
                    <select class="form-control" name="recommendation" [(ngModel)]="rating.recommendation"
                            id="field_recommendation" required>
                        <option value="DEF_YES">{{'nitroCarriersApp.Grade.DEF_YES' | translate}}</option>
                        <option value="YES">{{'nitroCarriersApp.Grade.YES' | translate}}</option>
                        <option value="FINE">{{'nitroCarriersApp.Grade.FINE' | translate}}</option>
                        <option value="NO">{{'nitroCarriersApp.Grade.NO' | translate}}</option>
                        <option value="DEF_NO">{{'nitroCarriersApp.Grade.DEF_NO' | translate}}</option>
                        <option value="BLACK_LIST">{{'nitroCarriersApp.Grade.BLACK_LIST' | translate}}</option>
                    </select>
                    <div
                        [hidden]="!(editForm.controls.recommendation?.dirty && editForm.controls.recommendation?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.recommendation?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.nitroRating.average"
                           for="field_average">Average</label>
                    <input type="number" class="form-control" name="average" id="field_average"
                           [(ngModel)]="rating.average" readonly/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
