<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rating-heading" jhiTranslate="nitroCarriersApp.rating.home.createOrEditLabel">Create or
                edit a Rating</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rating.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="rating.id" readonly/>
                </div>

                <fieldset>
                    <legend jhiTranslate="nitroCarriersApp.rating.carrierAndPerson">Carrier and person</legend>
                    <div class="form-group">
                        <textarea [(ngModel)]="carrierAndPerson" class="form-control" name="carrierAndPerson"
                                  id="field_carrierAndPerson" required rows="5"></textarea>
                        <div
                            [hidden]="!(editForm.controls.carrierAndPerson?.dirty && editForm.controls.carrierAndPerson?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.carrierAndPerson?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h4 jhiTranslate="nitroCarriersApp.rating.chargeAddress">Charge address</h4>
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.rating.chargeCountry"
                               for="field_chargeCountry">
                            Charge Address Country
                        </label>
                        <ng-select [items]="countries"
                                   id="field_chargeCountry"
                                   name="chargeCountry"
                                   bindLabel="countryNamePL"
                                   placeholder="{{'nitroCarriersApp.rating.countryPlaceholder' | translate}}"
                                   [(ngModel)]="rating.chargeCountry"
                                   required="true">
                        </ng-select>
                        <div
                            [hidden]="!(editForm.controls.chargeCountry?.dirty && editForm.controls.chargeCountry?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.chargeCountry?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.rating.chargePostalCode"
                               for="field_chargePostalCode">Charge Address Postal Code</label>
                        <input type="text" class="form-control" name="chargePostalCode"
                               id="field_chargePostalCode" [(ngModel)]="rating.chargePostalCode"
                               required/>
                        <div
                            [hidden]="!(editForm.controls.chargePostalCode?.dirty && editForm.controls.chargePostalCode?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.chargePostalCode?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h4 jhiTranslate="nitroCarriersApp.rating.dischargeAddress">Discharge address</h4>
                    <div class="form-group">
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.rating.dischargeCountry"
                               for="field_dischargeCountry">Discharge Address</label>
                        <ng-select [items]="countries"
                                   id="field_dischargeCountry"
                                   name="dischargeCountry"
                                   bindLabel="countryNamePL"
                                   placeholder="{{'nitroCarriersApp.rating.countryPlaceholder' | translate}}"
                                   [(ngModel)]="rating.dischargeCountry"
                                   required="true">
                        </ng-select>
                        <div
                            [hidden]="!(editForm.controls.dischargeCountry?.dirty && editForm.controls.dischargeCountry?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.dischargeCountry?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <label class="form-control-label"
                               jhiTranslate="nitroCarriersApp.rating.dischargePostalCode"
                               for="field_dischargePostalCode">Discharge Address Postal Code</label>
                        <input type="text" class="form-control" name="dischargePostalCode"
                               id="field_dischargePostalCode" [(ngModel)]="rating.dischargePostalCode"
                               required/>
                        <div
                            [hidden]="!(editForm.controls.dischargePostalCode?.dirty && editForm.controls.dischargePostalCode?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.dischargePostalCode?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.cargoType"
                           for="field_cargoType">Cargo Type</label>
                    <ng-select name="cargoType" [(ngModel)]="rating.cargoType" id="field_cargoType" placeholder="{{'nitroCarriersApp.rating.cargoTypePlaceholder' | translate}}" required>
                        <ng-option value="FTL_13_6">{{'nitroCarriersApp.CargoType.FTL_13_6' | translate}}</ng-option>
                        <ng-option value="EXTRA_13_6">{{'nitroCarriersApp.CargoType.EXTRA_13_6' | translate}}</ng-option>
                        <ng-option value="REEFER">{{'nitroCarriersApp.CargoType.REEFER' | translate}}</ng-option>
                        <ng-option value="EXTRA_REEFER">{{'nitroCarriersApp.CargoType.EXTRA_REEFER' | translate}}</ng-option>
                        <ng-option value="SOLO">{{'nitroCarriersApp.CargoType.SOLO' | translate}}</ng-option>
                        <ng-option value="FULL_BUS_BLASZKA">{{'nitroCarriersApp.CargoType.FULL_BUS_BLASZKA' | translate}}</ng-option>
                        <ng-option value="FULL_BUS_PLANDEKA">{{'nitroCarriersApp.CargoType.FULL_BUS_PLANDEKA' | translate}}</ng-option>
                        <ng-option value="EXTRA_BUS">{{'nitroCarriersApp.CargoType.EXTRA_BUS' | translate}}</ng-option>
                        <ng-option value="OVERSIZED">{{'nitroCarriersApp.CargoType.OVERSIZED' | translate}}</ng-option>
                        <ng-option value="OTHER">{{'nitroCarriersApp.CargoType.OTHER' | translate}}</ng-option>
                    </ng-select>
                    <div [hidden]="!(editForm.controls.cargoType?.dirty && editForm.controls.cargoType?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.cargoType?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.distance"
                           for="field_distance">Distance</label>
                    <input type="number" class="form-control" name="distance" id="field_distance"
                           [(ngModel)]="rating.distance" required/>
                    <div [hidden]="!(editForm.controls.distance?.dirty && editForm.controls.distance?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.distance?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.distance?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.contact"
                           for="field_contact">Contact</label>
                    <select class="form-control" name="contact" [(ngModel)]="rating.contact"
                            id="field_contact" required>
                        <option *ngIf="!editForm.value.contact" [ngValue]="undefined" selected>{{'nitroCarriersApp.rating.selectPlaceholder' | translate }}</option>
                        <option [ngValue]="id" *ngFor="let id of [1,2,3,4,5,6]">{{id}}</option>
                    </select>
                    <div
                        [hidden]="!(editForm.controls.contact?.dirty && editForm.controls.contact?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contact?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.price"
                           for="field_price">Price</label>
                    <select class="form-control" name="price" [(ngModel)]="rating.price"
                            id="field_price" required>
                        <option *ngIf="!editForm.value.price" [ngValue]="undefined" selected>{{'nitroCarriersApp.rating.selectPlaceholder' | translate }}</option>
                        <option [ngValue]="id" *ngFor="let id of [1,2,3,4,5,6]">{{id}}</option>
                    </select>
                    <div
                        [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.price?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.flexibility"
                           for="field_flexibility">Flexibility</label>
                    <select class="form-control" name="flexibility" [(ngModel)]="rating.flexibility"
                            id="field_flexibility" required>
                        <option *ngIf="!editForm.value.flexibility" [ngValue]="undefined" selected="selected">{{'nitroCarriersApp.rating.selectPlaceholder' | translate }}</option>
                        <option [ngValue]="id" *ngFor="let id of [1,2,3,4,5,6]">{{id}}</option>
                    </select>
                    <div
                        [hidden]="!(editForm.controls.flexibility?.dirty && editForm.controls.flexibility?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flexibility?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.recommendation"
                           for="field_recommendation">Recommendation</label>
                    <select class="form-control" name="recommendation" [(ngModel)]="rating.recommendation"
                            id="field_recommendation" required>
                        <option *ngIf="!editForm.value.recommendation" [ngValue]="undefined" selected>{{'nitroCarriersApp.rating.selectPlaceholder' | translate }}</option>
                        <option value="DEF_YES">{{'nitroCarriersApp.Grade.DEF_YES' | translate}}</option>
                        <option value="YES">{{'nitroCarriersApp.Grade.YES' | translate}}</option>
                        <option value="FINE">{{'nitroCarriersApp.Grade.FINE' | translate}}</option>
                        <option value="NO">{{'nitroCarriersApp.Grade.NO' | translate}}</option>
                        <option value="DEF_NO">{{'nitroCarriersApp.Grade.DEF_NO' | translate}}</option>
                        <option value="BLACK_LIST">{{'nitroCarriersApp.Grade.BLACK_LIST' | translate}}</option>
                    </select>
                    <div
                        [hidden]="!(editForm.controls.recommendation?.dirty && editForm.controls.recommendation?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.recommendation?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.average"
                           for="field_average">Average</label>
                    <input type="number" class="form-control" name="average" id="field_average"
                           [(ngModel)]="rating.average" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.remarks" for="field_remarks">Remarks</label>
                    <textarea rows="3" class="form-control" name="remarks" id="field_remarks"
                           [(ngModel)]="rating.remarks"></textarea>
                </div>
                <div class="form-group" [hidden]="!rating.createdBy">
                    <label class="form-control-label" jhiTranslate="nitroCarriersApp.rating.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" id="field_createdBy" name="createdBy" value="{{rating.createdBy?.login}}" readonly/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
