<div class="container">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">

                <div class="row">
                    <div class="col-sm-6">
                        <a routerLink="nitro-rating" class="card text-center">
                            <h2><fa-icon [icon]="'truck'" class="fa-3x"></fa-icon></h2>
                            <div class="card-body">
                                <h5 class="card-title" jhiTranslate="home.card.ratings">Carriers</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a routerLink="customer" class="card text-center">
                            <h2><fa-icon [icon]="'building'" class="fa-3x"></fa-icon></h2>
                            <div class="card-body">
                                <h5 class="card-title" jhiTranslate="home.card.customers">Customers</h5>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div *ngSwitchCase="false">
                <jhi-login-modal></jhi-login-modal>
            </div>
        </div>

</div>
